/* Hero */
.header {
	padding: 40px 0;
	min-height: 695px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-image: url('./../../img/header-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #f1f1f1; 
	text-align: center;
	position: relative;
	overflow: hidden;
  }
  
  .header__wrapper {
	padding: 0 15px;
	max-width: 660px;
	animation: fadeIn 1.5s ease-in-out;
  }
  
  .header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
	animation: slideInFromLeft 1s ease-in-out;
  }
  
  .header__title strong {
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
  }
  
  .header__title em {
	font-style: normal;
	animation: glow 1.5s ease-in-out infinite alternate;
  }
  
  .header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
	animation: fadeIn 1.8s ease-in-out;
	color: #d1d1d1;
  }
  
  .btn {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #6c63ff; 
	border-radius: 50px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn:hover {
	transform: scale(1.05); 
	box-shadow: 0px 4px 12px rgba(108, 99, 255, 0.5); 
  }
  
  /* Animations */
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @keyframes slideInFromLeft {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
  }
  
  @keyframes glow {
	0% { text-shadow: 0 0 8px #9a86ff, 0 0 12px #9a86ff; }
	100% { text-shadow: 0 0 15px #9a86ff, 0 0 25px #9a86ff; }
  }
  