.background-image {
    background-image: url('./../img/war/warimg4.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .standTextColor {
    color: white;
  }